.patient-getinfo {



    .img-avatar {
        border-radius: 4px;
    }

    .label-avatar {
        margin-left: 20px;
        margin-top: 60px;
        font-size: 40px;
        color: #007BFF;
    }

    .label-avatar-2 {
        margin-left: 20px;
        font-size: 40px;
        color: #007BFF;
    }

    .span-avatar {
        color: black;
        text-transform: uppercase;
    }

    .fa-address-card {
        margin-left: 10px;
    }

    .fa-table {
        margin-left: 10px;
    }
}