.receptionist-chat {

    display: flex;
    flex-direction: column;
    height: 100%;

    .user-chatbox {

        .avatar {
            width: 60px;
            height: 60px;
        }

        .new-tag {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .preview {
            flex: 1;
            width: 0;
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }

        .preview-time {
            width: fit-content;
            font-weight: bold;
        }
    }

    .chat-box {
        flex-grow: 1;
    }

    .user-list-container {
        height: 0px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .user-list-box {
            height: 0;
            flex-grow: 1;
            overflow: auto;
            padding: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid lightblue;

            display: flex;
            flex-direction: column;
            gap: 8px;
        }

    }

    .meassage-container {
        height: 0px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .message-box {
            flex-grow: 1;
            overflow: auto;

            .left {
                display: flex;
                align-items: flex-start;
                gap: 10px;
                margin-bottom: 10px;

                .msg-info {
                    width: fit-content;
                    max-width: 60%;
                    overflow-wrap: anywhere;
                }

                .time {
                    font-size: 12px;
                    padding-left: 5px;
                }

                .avatar {
                    width: 40px;
                    overflow: hidden;
                    border-radius: 50%;
                    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .text {
                    background-color: gray;
                    color: white;
                    padding: 10px;
                    border-radius: 10px;
                    width: fit-content;
                }
            }

            .right {
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                gap: 10px;
                margin-bottom: 10px;

                .msg-info {
                    width: fit-content;
                    max-width: 60%;
                    overflow-wrap: anywhere;
                }

                .time {
                    font-size: 12px;
                    text-align: end;
                    padding-right: 5px;
                }

                .avatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: lightblue;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .text {
                    background-color: lightblue;
                    text-align: justify;
                    padding: 10px;
                    border-radius: 10px;
                    width: fit-content;
                }
            }



        }

    }
}