.doctor-sidebar {
    .btn-collapse {
        position: absolute;
        z-index: 9;
        right: 0;
        top: 30px;
    }

    .style {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    .ps-sidebar-container {
        background-color: #C9EEFF;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;

    }

}