.user-profile {
    hr {
        height: 3px;
    }

    .user-information {
        color: #0099ff;
    }

    .card-img-top {
        background-image: url('https://cdn.pixabay.com/photo/2015/01/28/23/35/hills-615429_960_720.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
    }
}