.contact-card {
    min-width: 30vmax;

    &:hover {
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }

    &:active {
        border: 2px solid black;
    }

    &:target {
        border: 2px solid black;

    }
}