.profile {
    
    .profile-role{
        margin-top: 2.8em;
    }


    .profile-button{
        font-size: 14.9px;
    }

    .icon-change{
        margin-right: 5px;
    }

    .class-input{
        outline: none;
    }

    .profile-h5{
        margin-top: 2em;
        font-size: 18px;
    }

    .profile-input{
        margin-top: 2em;
    }

    .profile-a{
        margin-top: 7em;
    }

    .profile-submit{
        margin-top: 1.7em;
    }

    .profile-left{
        height: 100%;
    }

    .profile-right{
        height: 100%;
    }
   
    .error{
        color: red;
    }

    .fa-circle-check{
        font-size: 25px;
        color: blue;
    }

}