.admin-slidebar {
    height: 100vh;

    a {
        overflow: hidden;
    }

    .button-dropend {
        overflow: hidden;
    }

    @media only screen and (max-width: 768px) {
        a {
            h5 {
                display: none;
            }
        }

        ul {
            li {
                text-align: center;

                span {
                    display: none;
                }
            }
        }


    }

    .admin-scroll {
        overflow: hidden;

        ul {
            height: 74vh;


            -ms-overflow-style: none;
            /* for Internet Explorer, Edge */
            scrollbar-width: none;
            /* for Firefox */
            overflow-y: scroll;

        }

        ul::-webkit-scrollbar {
            display: none;
            /* for Chrome, Safari, and Opera */
        }
    }

}