body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    min-height: 100vh;
    height: 100%;
    //  #2f80ed
    background: linear-gradient(to right, #9cecfb, #65c7f7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}



// #FCF951FF, #422057FF

// style button
.btn-active {
    background-color: rgb(156, 236, 251);
    box-shadow: rgb(156, 236, 251, 0.5) 4px 4px, rgb(156, 236, 251, 0.4) 8px 8px;
    color: black;
}

.btn-style1 {
    background-color: black;
    box-shadow: rgba(50, 50, 50, 0.5) 4px 4px, rgba(50, 50, 50, 0.4) 8px 8px;
    color: white;

    &:hover {
        background-color: white;
        border: 1px solid black;
        box-shadow: rgba(250, 250, 250, 0.5) 4px 4px;
        color: black;
    }
}

.btn-style1-outline {
    background-color: white;
    border: 1px solid black;
    box-shadow: rgba(250, 250, 250, 0.5) 4px 4px, rgba(250, 250, 250, 0.4) 8px 8px;
    color: black;

    &:hover {
        background-color: black;
        border: 1px solid white;
        box-shadow: rgba(50, 50, 50, 0.5) 4px 4px;
        color: white;
    }
}