header {
    background-color: white;
    border-bottom: 2px solid black;

    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
}

.header-logo {
    width: 4rem;
    border: 1px solid black;
    border-radius: 1rem;
}